@import './theme.css';

html, body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: var(--font-name), var(--p-ul-font-family);
	font-size: var(--p-ul-font-size);
	font-weight: var(--p-ul-font-weight);
}

.app-header {
	padding: 0 var(--header-padding);
	line-height: var(--header-height);
	text-align: center;
	color: var(--color-gs00);
	background-color: var(--color-cyan-dark);
	font-family: var(--font-name), var(--h1-font-family);
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
}
